@mixin clearfix {
    &::after {
        clear: both;
        content: ' ';
        display: table;
    }
}

/// Kayto control z-index
///
/// @type Number
$kayto-ctrl-z-index: 1200 !default;

/// Kayto overlay z-index
///
/// @type Unit
$kayto-overlay-z-index: $kayto-ctrl-z-index - 100 !default;

/// Kayto control background color
///
/// @type Color
$kayto-bg-color: #474747 !default;

/// Kayto overlay max-width
///
/// @type Unit
$kayto-max-width: 1440px !default;

/// Kayto overlay opacity
///
/// @type Number
$kayto-overlay-opacity: .4 !default;

/// Kayto control opacity
///
/// @type Number
$kayto-ctrl-opacity: .5 !default;

/// Kayto Gutter
///
/// @type Unit
$kayto-grid-gutter: 8px !default;

/// Kayto column background color
///
/// @type Color
$kayto-column-color: #80bde1 !default;

/// Kayto content background color
///
/// @type Color
$kayto-content-color: #409bd2 !default;

$white: #fff;

.kayto {
    @include clearfix;

    margin-left: auto;
    margin-right: auto;
    max-width: $kayto-max-width;
    pointer-events: none;

    .kayto-container {
        display: flex;
        flex-wrap: wrap;
        max-width: $kayto-max-width;
        opacity: $kayto-overlay-opacity;
        position: fixed;
        width: 100%;
        z-index: $kayto-overlay-z-index;

        > .kayto-column {
            background-color: $kayto-column-color;
            box-sizing: border-box; //ensure measurements include padding
            flex: 0 1 auto;
            float: left;
            height: 100vh;
            padding-left: $kayto-grid-gutter;
            padding-right: $kayto-grid-gutter;
            width: 1/12 * 100%;

            > .kayto-content {
                background-color: $kayto-content-color;
                height: 100vh;
                overflow-x: hidden;
            }
        }
    }
}

.kayto-ctrl {
    @include clearfix;

    background-color: $kayto-bg-color;
    bottom: 16px;
    cursor: move;
    font-family: "Helvetica Neue", Helvetica, "Roboto", Arial, sans-serif;
    font-size: 16px;
    min-width: 170px;
    opacity: $kayto-ctrl-opacity;
    padding: 16px;
    position: fixed;
    right: 24px;
    z-index: $kayto-ctrl-z-index;

    &:hover {
        opacity: 1;
    }

    input[type="checkbox"]:hover,
    .kayto-ctrl-container label:hover {
        cursor: pointer;
    }

    input[type="checkbox"] {
        margin-right: .5em; //TODO from standard variable
        visibility: visible; //fix for invision hidden
    }

    input[type="text"] {
        color: $kayto-bg-color;
        width: 100%;
    }

    label,
    .kayto-ctrl-max-width-panel,
    .kayto-ctrl-current-width-panel {
        color: $white;
    }

    .kayto-ctrl-max-width-panel {
        .kayto-current-max-width-ctrl {
            color: $white;
        }

        .kayto-edit-icon {
            color: $white;
            margin-left: .5em; //TODO from standard variable
            position: relative;
            top: 3px;

            > svg {
                fill: $white;
                height: 16px;
                width: 16px;
            }
        }
    }
}
